@custom-variant dark (&:is(.dark *));

:root {
  --font-size: 16px;
  /* Typography variables */
  --text-5xl: 60px; /* h1 font size */
  --text-3xl: 35px; /* h2 font size */
  --text-xl: 24px; /* h3 font size */
  --text-lg: 20px; /* h4 font size */
  --text-base: 16px; /* p font size */
  --text-sm: 12px; /* label font size */
  --font-family-poppins: 'Poppins', sans-serif;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  
  /* The default background color for the application. */
  --background: rgba(255, 255, 255, 1.00);
  /* The default color for elements or text that appears on top of the background. */
  --foreground: rgba(28, 32, 36, 1.00);
  /* The background color for cards, modals, and other containers. */
  --card: rgba(249, 249, 251, 1.00); /* Tokens/Surface/card #f9f9fb */
  /* The default color for text or elements that appear on top of cards, modals and other background containers. */
  --card-foreground: rgba(28, 32, 36, 1.00);
  /* The background color for dropdowns and tooltips. */
  --popover: rgba(28, 32, 36, 1.00);
  /* The default color for text or elements that appear on top of dropdowns and tooltips. */
  --popover-foreground: rgba(252, 252, 253, 1.00);
  /* The primary color used for buttons, links, and other interactive elements. */
  --primary: rgba(3, 134, 123, 1.00); /* Brand/Primárias/Verde Forte #03867B */
  /* The default color for text or elements that appear on top of primary colored elements. */
  --primary-foreground: rgba(255, 255, 255, 1.00);
  /* The secondary color used for secondary(but NOT-DESTRUCTIVE) buttons and interactive elements. */
  --secondary: rgba(0, 0, 51, 0.06);
  /* The default color for text or elements that appear on top of secondary colored elements. */
  --secondary-foreground: rgba(96, 100, 108, 1.00);
  /* The muted color used for less prominent elements, such as disabled buttons or disabled text. */
  --muted: rgba(0, 0, 85, 0.02);
  /* The default color for text or elements that appear on top of muted colored elements. */
  --muted-foreground: rgba(96, 100, 108, 1.00);
  /* The accent color used for highlights, links, and other interactive elements. */
  --accent: rgba(0, 133, 115, 1.00);
  /* The default color for text or elements that appear on top of accent colored elements. */
  --accent-foreground: rgba(255, 255, 255, 1.00);
  /* The color used for background in destructive actions, such as delete buttons or error messages. */
  --destructive: rgba(229, 72, 77, 1.00);
  /* The default color for text or elements that appear on top of destructive colored elements. */
  --destructive-foreground: rgba(255, 255, 255, 1.00);
  /* The default border color for elements such as inputs, buttons, and other containers. */
  --border: rgba(217, 217, 224, 1.00); /* Tokens/Border/default #d9d9e0 */
  /* The default background color for input fields once the text has been filled. Should be either transparent or match the input-background. */
  --input: rgba(255, 255, 255, 1.00);
  /* The default background color for input fields, text areas, and other input elements. */
  --input-background: rgba(255, 255, 255, 1.00);
  /* The color for focus rings, outlines, and other focus indicators. */
  --ring: rgba(0, 133, 115, 1.00); /* Tokens/Icons/primary #008573 */
  /* Shadow for small elevations, such as cards or modals. */
  --elevation-sm: 0px 16px 36px -20px rgba(0, 6, 46, 0.2), 0px 16px 64px 0px rgba(0, 0, 85, 0.02), 0px 12px 60px 0px rgba(0, 0, 0, 0.15);
  /* The color for chart elements, such as a bar or line in a chart. */
  --chart-1: rgba(62, 99, 221, 1.00);
  /* The color for another chart element, such as a bar or line in a chart. */
  --chart-2: rgba(229, 72, 77, 1.00);
  /* The color for another chart element, such as a bar or line in a chart. */
  --chart-3: rgba(48, 164, 108, 1.00);
  /* The color for another chart element, such as a bar or line in a chart. */
  --chart-4: rgba(247, 107, 21, 1.00);
  /* The color for another chart element, such as a bar or line in a chart. */
  --chart-5: rgba(142, 78, 198, 1.00);
  /* The default border radius for elements such as buttons, tooltip, and other containers. */
  --radius: 6px;
  /* The border radius for button elements. */
  --radius-button: 4px;
  /* The border radius for card elements. */
  --radius-card: 8px;
  /* The border radius for large container elements. */
  --radius-large: 12px;
  /* The border radius for tooltip elements. */
  --radius-tooltip: 3px;
  /* The background color for sidebars, navigation menus, and other persistent elements. */
  --sidebar: rgba(255, 255, 255, 0.90);
  /* The default color for text or elements that appear on top of sidebars, navigation menus, and other persistent elements. */
  --sidebar-foreground: rgba(28, 32, 36, 1.00);
  /* The primary color used for buttons, links, and other interactive elements in sidebars and navigation menus. */
  --sidebar-primary: rgba(3, 134, 123, 1.00); /* #03867B */
  /* The default color for text or elements that appear on top of primary colored elements in sidebars and navigation menus. */
  --sidebar-primary-foreground: rgba(255, 255, 255, 1.00);
  /* The accent color used for highlights, links, and other interactive elements in sidebars and navigation menus. */
  --sidebar-accent: rgba(0, 133, 115, 1.00); /* #008573 */
  /* The default color for text or elements that appear on top of accent colored elements in sidebars and navigation menus. */
  --sidebar-accent-foreground: rgba(255, 255, 255, 1.00);
  /* The default border color for elements in sidebars and navigation menus. */
  --sidebar-border: rgba(217, 217, 224, 1.00); /* #d9d9e0 */
  /* The default color for focus rings, outlines, and other focus indicators in sidebars and navigation menus. */
  --sidebar-ring: rgba(0, 133, 115, 1.00); /* #008573 */
}

.dark {
  --background: rgba(28, 32, 36, 1.00);
  --foreground: rgba(252, 252, 253, 1.00);
  --card: rgba(28, 32, 36, 1.00);
  --card-foreground: rgba(252, 252, 253, 1.00);
  --popover: rgba(255, 255, 255, 1.00);
  --popover-foreground: rgba(28, 32, 36, 1.00);
  --primary: rgba(18, 165, 148, 1.00); /* Colors/Accent/9 #12a594 (mais claro no dark) */
  --primary-foreground: rgba(255, 255, 255, 1.00);
  --secondary: rgba(96, 100, 108, 1.00);
  --secondary-foreground: rgba(252, 252, 253, 1.00);
  --muted: rgba(96, 100, 108, 1.00);
  --muted-foreground: rgba(252, 252, 253, 1.00);
  --accent: rgba(18, 165, 148, 1.00); /* #12a594 */
  --accent-foreground: rgba(255, 255, 255, 1.00);
  --destructive: rgba(229, 72, 77, 1.00);
  --destructive-foreground: rgba(255, 255, 255, 1.00);
  --border: rgba(96, 100, 108, 1.00);
  --input: rgba(28, 32, 36, 1.00);
  --ring: rgba(18, 165, 148, 1.00); /* #12a594 */
  --sidebar: rgba(28, 32, 36, 1.00);
  --sidebar-foreground: rgba(252, 252, 253, 1.00);
  --sidebar-primary: rgba(18, 165, 148, 1.00); /* #12a594 */
  --sidebar-primary-foreground: rgba(255, 255, 255, 1.00);
  --sidebar-accent: rgba(18, 165, 148, 1.00); /* #12a594 */
  --sidebar-accent-foreground: rgba(255, 255, 255, 1.00);
  --sidebar-border: rgba(96, 100, 108, 1.00);
  --sidebar-ring: rgba(18, 165, 148, 1.00); /* #12a594 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-input-background: var(--input-background);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 2px);
  --radius-md: var(--radius);
  --radius-lg: var(--radius-card);
  --radius-xl: var(--radius-large);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-family-poppins);
  }
}

/**
 * Base typography. This is not applied to elements which have an ancestor with a Tailwind text class.
 */
@layer base {
  :where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) {
    h1 {
      font-size: var(--text-5xl);
      font-weight: var(--font-weight-bold);
      font-family: var(--font-family-poppins);
      line-height: 1.5;
    }

    h2 {
      font-size: var(--text-3xl);
      font-weight: var(--font-weight-bold);
      font-family: var(--font-family-poppins);
      line-height: 1.5;
    }

    h3 {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-bold);
      font-family: var(--font-family-poppins);
      line-height: 1.5;
    }

    h4 {
      font-size: var(--text-lg);
      font-weight: var(--font-weight-bold);
      font-family: var(--font-family-poppins);
      line-height: 1.5;
    }

    p {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      font-family: var(--font-family-poppins);
      line-height: 1.5;
    }

    label {
      font-size: var(--text-sm);
      font-weight: var(--font-weight-medium);
      font-family: var(--font-family-poppins);
      line-height: 1.5;
    }

    button {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      font-family: var(--font-family-poppins);
      line-height: 1.5;
    }

    input {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      font-family: var(--font-family-poppins);
      line-height: 1.5;
    }
  }
}

html {
  font-size: var(--font-size);
}